body {
    background-color: rgb(186, 186, 211);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0;
    line-height: 2;
    font-size: 26px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
  max-width: 600px;  
  padding: 30px;
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 60px auto;
}

.city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.city:last-child {
    border-bottom: none;
}

.date {
    opacity: 0.6
}

.time {
    font-size: 34px;
    font-weight: bold;
}

.time small {
    font-size: 14px;
    color: rgb(36, 35, 35);
    vertical-align: middle;
}

.city {
    display: flex;   
}

footer {
    text-align: center;
    font-size: 18px;
    opacity: 0.6
}